/*-----------MAIN ROOT-------*/
:root {
  --main-background-color: #ffffff;
  --secondary-background-color: #f4f4fd;
  /*----third-background-color: #F5F4FA;--*/
  --hero-title-color: #ffffff;
  --main-title-color: #2e2f42;
  --main-text-color: #434455;
  --primary-text-color: #2e2f42;
  --accent-text-color: #404bbf;
  --pasive-button-color: #4d5ae5;
  --active-button-color: #404bbf;
  --button-text-color: #ffffff;
  --logo-web-text-color: #4d5ae5;
  /*-----first-studio-text-color: #000000;
    --second-studio-text-color: #FFFFFF;
    --adress-text-color: #FFFFFF;--*/
}

/*-------- reset styles ------*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}
/*-----------global styles------*/

body {
  font-family: "Roboto", Helvetica, sans-serif;
  color: var(--main-text-color);
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*------ Header ------*/
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  gap: 332px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 76px;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: calc(21 / 18);
  letter-spacing: 0.63px;
  color: var(--logo-web-text-color);
}

.logo-header {
  color: var(--primary-text-color);
}

.nav-item-link {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: inherit;
  line-height: calc(24 / 16);
  letter-spacing: 0.32px;
}

.nav-item-link:hover,
.nav-item-link:active {
  color: var(--active-button-color);
}

.link-tel,
.link-mail {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: calc(24 / 16);
  letter-spacing: 0.32px;
  color: var(--main-text-color);
}

.link-tel:hover,
.link-mail:hover,
.link-tel:focus,
.link-mail:focus {
  color: var(--active-button-color);
}

.contacts-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

/*----- Main ------*/

/*----- Hero ------*/

.hero {
  padding: 188px 0;
  text-align: center;
  background-color: var(--primary-text-color);
}

.hero-title {
  font-size: 52px;
  font-weight: 700;
  line-height: calc(60 / 52);
  letter-spacing: 1.2px;
  color: var(--hero-title-color);
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn {
  font-size: 16px;
  font-weight: 500;
  line-height: calc(24 / 16);
  letter-spacing: 0.45px;
  text-align: center;
  align-items: center;
  /*---width: 169px;
  height: 56px;----*/
  padding: 16px 32px;
  border-radius: 4px;
  color: var(--button-text-color);
  background-color: var(--pasive-button-color);
  cursor: pointer;
  margin-top: 48px;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--active-button-color);
}

/*----- Adventages ------*/
.advantages-list {
  display: flex;
  gap: 24px;
}

.advantages-title {
  font-size: 20px;
  font-weight: 500;
  line-height: calc(24 / 20);
  letter-spacing: 0.4px;
  color: var(--primary-text-color);
}

.advantages-description {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: calc(24 / 16);
  letter-spacing: 0.32px;
  color: var(--main-text-color);
}

/*----- Our Team ------*/

.team {
  background-color: var(--secondary-background-color);
}

.team-list {
  margin-top: 72px;
  display: flex;
  gap: 24px;
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--hero-title-color);
}
.team-title {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: calc(40 / 36);
  letter-spacing: 0.72px;
  color: var(--primary-text-color);
}

.team-person {
  padding: 34px 16px;
}
.team-sub-title {
  font-size: 20px;
  font-weight: 500;
  line-height: calc(24 / 20);
  text-align: center;
  letter-spacing: 0.4px;
  color: var(--primary-text-color);
}

.team-description {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  line-height: calc(24 / 16);
  letter-spacing: 0.32px;
  color: var(--main-text-color);
}

/*----- Our Portfoli ------*/
.portfolio {
  text-align: center;
}

.portfolio-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: calc(40 / 36);
  letter-spacing: 0.72px;
  color: var(--primary-text-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin-top: 72px;
}

.portfolio-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
  flex-shrink: 0;
}
.portfolio-card {
  padding: 32px 32px 32px 16px;
  text-align: left;
}
.portfolio-sub-title {
  font-size: 20px;
  font-weight: 500;
  line-height: calc(24 / 20);
  letter-spacing: 0.4px;
  color: var(--primary-text-color);
}

.portfolio-description {
  font-size: 16px;
  font-weight: 400;
  line-height: calc(24 / 16);
  letter-spacing: 0.32px;
  color: var(--main-text-color);
}

/*-----Footer------*/

.footer {
  background-color: var(--primary-text-color);
}

.logo-footer {
  color: var(--secondary-background-color);
}

.footer-description {
  font-size: 16px;
  font-weight: 400;
  line-height: calc(24 / 16);
  letter-spacing: 0.32px;
  color: var(--secondary-background-color);
}
